.card {
  /* Khung có shadow rõ nét */
  box-shadow: 0px 10px 40px rgba(161, 31, 33, 0.08) !important;
  /* Shadow hơi ám đỏ nhẹ cho hợp tone */
  border: 1px solid rgba(205, 7, 10, 0.1) !important;
  border-radius: 12px !important;
  background-color: #ffffff;
  width: 100%;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: #d50f0f !important;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d50f0f;
  --bs-btn-border-color: #d50f0f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d50f0f;
  --bs-btn-hover-border-color: #d50f0f;
  --bs-btn-active-bg: #dc3545;
}

.p-2 {
  padding: 2rem !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn-link:focus {
  outline: none !important;
  box-shadow: none !important;
}
